<h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>

 <ul class="list-group mb-4">
    <% @restaurants.each do |restaurant| %>
      <li class="list-group-item d-flex align-items-center">
        <%= link_to restaurant_path(restaurant), style: "text-decoration: none; color: inherit; width: 100%;" do %>
          <div class="card-product">
            <img src="https://picsum.photos/300/200" />
            <div class="card-product-infos">
              <h2><%= restaurant.name %></h2>
              <p><%= restaurant.category %></p>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>






  <%= link_to "Add a new task", new_restaurant_path, class: "btn btn-primary" %>
